<div ng-controller="ShellController as vm">
    <header class="clearfix">
        <ttt-top-nav app-title="vm.appTitle" nav-items="vm.navItems"></ttt-top-nav>
    </header>
    <!-- <section id="content" class="content">
        <div ui-view></div>
    </section> -->

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Sticky footer with fixed navbar</h1>
        </div>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
        <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    </div>

    <ttt-footer year="vm.year"></ttt-footer>

</div>