//@screen-sm-mi: 768px;
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header,
footer {
  font-weight: 300;
}

header .navbar-default {
  background-color: #4db6ac;
  border-color: #009688;
}

header .navbar-default .navbar-brand,
header .navbar-default .navbar-nav > li > a {
  color: #fff;
}

header .navbar-default .navbar-toggle {
  border-color: #fff;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

header .navbar-default .navbar-brand:hover,
header .navbar-default .navbar-brand:focus,
header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > li > a:focus,
header .navbar-default .navbar-toggle:hover,
header .navbar-default .navbar-toggle:focus {
  color: #fff;
  background-color: #009688;
}

header .navbar-default .navbar-toggle,
header .navbar-default .navbar-collapse,
header .navbar-default .navbar-form {
  border-color: #009688;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #4db6ac;
  border-color: #009688;
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

footer > .container > p {
  color: #fff;
  margin: 20px 0;
}

/* Needs padding-top as the header takes up some space above... */
#main-content > div > .container {
  padding: 60px 15px 0;
}

/* ... but only the first one */
#main-content > div > .container ~ .container {
  padding: 0 15px;
}